<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Go Web</title>
    <link rel="stylesheet" href="/js/layui-v2.5.6/layui/css/layui.css">
    <link rel="stylesheet" href="/js/ag-grid/ag-grid.css">

    <script src="/js/layui-v2.5.6/layui/layui.all.js"></script>
    <script src="/js/ag-grid/ag-grid-community.js"></script>

</head>

<body>

<div>
    <div class="layui-container">
        <h1>流量监控</h1>
        <div class="onoff">
            <div class="layui-btn-group" style="margin-top: 20px;">
                <button id="" class="layui-btn layui-btn-sm" onclick="queryHistoryNetUse()">查看历史</button>
                <button id="" class="layui-btn layui-btn-normal layui-btn-sm" onclick="netFlowTest()">网速测试</button>
                <button id="modify" class="layui-btn layui-btn-sm layui-btn-normal"
                        onclick="monitNetStart()">开启监控
                </button>
                <button id="modify" class="layui-btn layui-btn-sm layui-btn-warm" onclick="monitNetStop()">
                    关闭监控
                </button>
            </div>
        </div>

        <div id="netstatusdiv" class="layui-form" style="display: none">
            <div class="netusestatus" style="color:#3296FA;margin: 10px"><i
                        class="layui-icon layui-icon-radio"
                        style="font-size: 5px; color: white;"></i>
                状态指示</div>
            <div id="localNetFlow" style="width: 100vw;height: 100vh;overflow: hidden !important;"
                 class="ag-theme-balham"></div>

        </div>

    </div>
</div>

</body>

<script type="text/javascript">
    'use strict';
    const $ = layui.$
    const pData = {{.}}
    const fData = JSON.parse(pData)
    console.log(pData)
    const ffIp = fData.ip
    const monitorNetInfoUrl = "ws://" + ffIp + ":8769/getNetUsingInfo";
    const getHistoryNetUseUrl = "http://" + ffIp + ":8769/getHistoryNetUse";
    const netFlowTestUrl = "http://" + ffIp + ":8769/testNetFlow";

    let openedTable = null
    let lastSelectTime = null
    console.log(fData.targets)


    // 对Date的扩展，将 Date 转化为指定格式的String
    // 月(M)、日(d)、小时(H)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
    // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
    // 例子：
    // (new Date()).Format("yyyy-MM-dd HH:mm:ss.S") ==> 2006-07-02 08:09:04.423
    // (new Date()).Format("yyyy-M-d H:m:s.S")      ==> 2006-7-2 8:9:4.18
    Date.prototype.Format = function (fmt) { //author: meizz
        let o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (let k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    /**
     * 网络测速
     */
    function netFlowTest() {
        // 如果已打开，不重复打开
        if ($("#netSpeedTest").length === 0) {
            layui.layer.open({
                type: 0,//Page层类型
                area: ['550px', '440px'],
                title: "网速测试",
                shade: 0.6, //遮罩透明度
                maxmin: true, //允许全屏最小化
                anim: 1, //0-6的动画形式，-1不开启
                content: '<div id="netSpeedTest">\n' +
                    '  <div class="layui-form-item">\n' +
                    '    <label class="layui-form-label">测速节点</label>\n' +
                    '    <div class="layui-input-block">\n' +
                    '      <input type="text" id="netSpeedTestAddr" placeholder="请输入地址" class="layui-input layui-input-inline">\n' +
                    '      <button onclick="runSpeedTest()" class="layui-btn layui-btn-normal">开始</button>\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '  <div class="layui-form-item">\n' +
                    '    <label class="layui-form-label">协议</label>\n' +
                    '    <div class="layui-input-block">\n' +
                    '      <select id="protoc" name="quiz1" style="min-height: 36px;border:0.5px" \n' +
                    '        <option value="">请选择</option>\n' +
                    '        <option value="http" selected="">http</option>\n' +
                    '        <option value="tcp">tcp</option>\n' +
                    '        <option value="udp">udp</option>\n' +
                    '      </select>\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '  <div class="layui-form-item">\n' +
                    '    <label  class="layui-form-label">测速结果</label>\n' +
                    '    <div class="layui-input-block">\n' +
                    '      <textarea id="netspeedres" readonly style="margin-top:20px;height:200px" class="layui-textarea"></textarea>\n' +
                    '    </div>\n' +
                    '  </div>\n' +
                    '</div>'
            });
        }
        let mySpIndex = null
        window.runSpeedTest = function () {
            $("#netspeedres").text("")
            let ip = $("#netSpeedTestAddr").val()
            let protoc = $("#protoc").val()
            if (isValidIP(ip)) {
                mySpIndex = layui.layer.load(1, {
                    shade: [0.1, '#fff'] //0.1透明度的白色背景
                });
                // TODO 通知开始网速测试
                $.ajax({
                    type: 'POST',
                    url: netFlowTestUrl,
                    contentType: "application/x-www-form-urlencoded",
                    data: {
                        ip: ip,
                        protocol: protoc
                    },
                    success: function (e) {
                        layui.layer.close(mySpIndex)
                        console.log("success")
                        console.log(e)
                        let sum = ""
                        let count = 0
                        let vals = []
                        e.data.forEach(dp => {
                            count += 1;
                            if (dp.protocol !== $("#protoc").val().toUpperCase()) {
                                return
                            }
                            sum += dp.protocol + "   >>----第" + count + "秒---->>   " + dp.bits + "\n";
                            vals.push(parseFloat(dp.bits.substring(0, dp.bits.length - 1)));
                        })
                        console.log(vals)
                        let vmax = Math.max(...vals)
                        let vmin = Math.min(...vals)
                        let sc = 0
                        let scCot = 0
                        vals.forEach(vv => {
                            if (vv !== vmax && vv !== vmin) {
                                scCot += 1
                                sc += vv
                            }
                        });
                        sum += "\n"
                        sum += "平均速率：" + (sc / scCot).toFixed(3) + "\n"
                        $("#netspeedres").text(sum)
                    },
                    error: function (e) {
                        layui.layer.close(mySpIndex)
                        $("#netspeedres").text(e.responseText)

                        console.log("err")
                        console.log(e)
                    },
                    dataType: "json"
                });

            } else {
                layui.layer.msg("IP地址不合法", {
                    icon: 2
                });
            }
        }
    }

    let monitor = null

    // 初始化
    function init() {
        initAgGrid();
        if (monitor) {
            if (monitor.readyState === monitor.CLOSED) {
                handleNetStart()
            }
        } else {
            handleNetStart()
        }
    }
    /**
     * 查询历史记录
     * @param st 开始时间
     * @param et 结束时间
     */
    function queryHistoryNetUse(st, et, netuse) {
        var ddd = new Date().setMinutes(new Date().getMinutes() - 5)
        let d1 = new Date(ddd).Format("yyyy/MM/dd hh:mm:ss");
        let d2 = new Date().Format("yyyy/MM/dd hh:mm:ss");
        if (st && et) {
            d1 = new Date(st).Format("yyyy/MM/dd hh:mm:ss");
            d2 = new Date(et).Format("yyyy/MM/dd hh:mm:ss");
        }
        if (!netuse) {
            netuse = "0"
        }
        console.log("d1 开始时间   " + new Date(parseInt(d1)))
        console.log("d2 结束时间   " + new Date(parseInt(d2)))
        console.log(d1)
        console.log(d2)
        let historyLayer = layui.layer.load(1, {
            shade: [0.1, '#fff'] //0.1透明度的白色背景
        });
        // 三秒未加载成功 提醒清理日志
        const historyTimeout = setTimeout("layui.layer.alert('加载时间过长，请考虑删除过期日志')", 3000)
        $.ajax({
            type: 'POST',
            url: getHistoryNetUseUrl,
            contentType: "application/x-www-form-urlencoded",
            data: {
                d1: d1,
                d2: d2,
                netuse: netuse
            },
            success: function (e) {
                layui.layer.close(historyLayer)
                clearInterval(historyTimeout)
                console.log("success")
                // console.log(e)
                let res = JSON.parse(e.data)
                console.log(res)
                handleNetUseResHistory(res.result, {
                    d1: d1,
                    d2: d2,
                    netuse: "0"
                })

            },
            error: function (e) {
                layui.layer.close(historyLayer)
                clearInterval(historyTimeout)
                console.log("err")
                console.log(e)
            },
            dataType: "json"
        });
    }

    /**
     * 历史数据的前端渲染
     * @param data 历史数据
     * @param dtime 所选时间
     */
    function handleNetUseResHistory(res, data) {
        //在这里面输入任何合法的js语句

        let st = new Date(data.d1)
        let et = new Date(data.d2)
        let netuse = data.netuse
        let estr = et.Format("yyyy/MM/dd hh:mm:ss");
        let sstr = st.Format("yyyy/MM/dd hh:mm:ss");
        let tt = sstr + " - " + estr
        window.leftHistory = function () {

            let st1 = new Date(st).setMinutes(new Date(st).getMinutes() - 5)
            let et1 = new Date(st)
            if ($("#testnu5").val() !== "") {
                lastSelectTime = $("#testnu5").val()
                let t5t = new Date($("#testnu5").val())
                st1 = new Date(t5t).setMinutes(new Date(t5t).getMinutes() - 5)
                et1 = new Date($("#testnu5").val())
                const t5StrNew = new Date(st1).Format("yyyy-MM-dd hh:mm:ss")
                $("#testnu5").val(t5StrNew)
            }
            st1 = new Date(st1)
            netuse = $("#test5NetUse").val()
            $(".layui-layer-title").text("5Min记录" + tt)
            queryHistoryNetUse(st1, et1, netuse)

        }
        window.rightHistory = function () {
            let st1 = new Date(et)
            let et1 = new Date(et).setMinutes(new Date(et).getMinutes() + 5)
            if ($("#testnu5").val() !== "") {
                let t5t = new Date($("#testnu5").val())
                st1 = new Date($("#testnu5").val())
                et1 = new Date(t5t).setMinutes(new Date(t5t).getMinutes() + 5)
                const t5StrNew = new Date(et1).Format("yyyy-MM-dd hh:mm:ss")
                $("#testnu5").val(t5StrNew)
            }
            et1 = new Date(et1)

            netuse = $("#test5NetUse").val()
            $(".layui-layer-title").text("5Min记录" + tt)
            queryHistoryNetUse(st1, et1, netuse)
        }
        // 如果已打开，不重复打开
        if ($("#openedLayerDiv").length === 0) {
            openedTable = layui.layer.open({
                type: 0 //Page层类型
                ,
                area: ['650px', '540px'],
                title: "5Min记录" + tt,
                shade: 0.6 //遮罩透明度
                ,
                maxmin: true //允许全屏最小化
                ,
                anim: 1 //0-6的动画形式，-1不开启
                ,
                content: '<div id="openedLayerDiv" class="layui-inline">\n' +
                    '      <label class="layui-input-inline">选择参考时间</label>\n' +
                    '      <div class="layui-input-inline">\n' +
                    '        <input type="text" class="layui-input" id="testnu5" placeholder="yyyy-MM-dd HH:mm:ss">\n' +
                    '      </div>\n' +
                    '    </div>' +
                    '<div  class="layui-inline">\n' +
                    '      <label class="layui-input-inline">网络利用率</label>\n' +
                    '      <div class="layui-input-inline">\n' +
                    '        <input type="text" class="layui-input" id="test5NetUse" placeholder="请输入网络利用率">\n' +
                    '      </div>\n' +
                    '    </div>' +
                    ' <div class="layui-btn-group">\n' +
                    '    <button type="button" onclick="leftHistory(' +
                    ')" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-left"></i></button>\n' +
                    '    <button type="button" onclick="rightHistory(' +
                    ')" class="layui-btn layui-btn-sm "><i class="layui-icon layui-icon-right"></i></button>\n' +
                    '  </div>' +
                    '<table class="layui-hide" id="test1"></table>',
            });
        }
        renderTableNetUseHistory(res)

    }

    /**
     * table渲染历史数据
     * @param data
     */
    function renderTableNetUseHistory(data) {
        let table = layui.table;

        table.render({
            elem: '#test1'
            // ,height:350
            ,
            cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,
            cols: [
                [{
                    field: 'ip',
                    title: 'ip',
                    sort: true
                }, {
                    field: 'upload',
                    title: '上行',
                    sort: true
                } //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    , {
                    field: 'download',
                    title: '下行',
                    sort: true
                }
                    , {
                    field: 'netuse',
                    title: '网络利用率',
                    sort: true
                }
                ]
            ],
            data: data,
            page: true //是否显示分页
            ,
            even: true,
            limits: [10, 20, 50, 100],
            limit: 10 //每页默认显示的数量
            ,
            done: function (res, curr, count) {
                // //如果是异步请求数据方式，res即为你接口返回的信息。
                // //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                // console.log(res);
                //
                // //得到当前页码
                // console.log(curr);
                //
                // //得到数据总量
                // console.log(count);

                //日期时间选择器
                layui.laydate.render({
                    elem: '#testnu5',
                    type: 'datetime'
                });
            }
        });
    }


    /**
     * 本地网路流量监控 -- 控制开启
     */
    function monitNetStart() {
        if (monitor) {
            if (monitor.readyState === monitor.CLOSED) {
                handleNetStart()
            } else {
                $("#netstatusdiv").css({
                    "display": ""
                })
            }
        } else {
            handleNetStart()
        }
        // $.ajax({
        //   type: 'POST',
        //   url: controlNetUsingUrl,
        //   data: {
        //     "msg": "start"
        //   },
        //   success: function (e) {
        //     console.log("success")
        //     console.log(e)
        //     layui.layer.msg("已开启", {
        //       icon: 1
        //     })
        //     if (monitor) {
        //       if (monitor.readyState === monitor.CLOSED) {
        //         setTimeout("handleNetStart()", 2000)
        //       }
        //     } else {
        //       setTimeout("handleNetStart()", 2000)
        //     }
        //
        //   },
        //   error: function (e) {
        //     console.log("err")
        //     console.log(e)
        //     layui.layer.alert(e.responseText, {
        //       icon: 2
        //     })
        //
        //   },
        //   dataType: "json"
        // });
    }

    let gridOptions = {}

    function initAgGrid() {
        //定义表格列
        const columnDefs = [
            {headerName: '本地IP', field: 'ip', 'pinned': 'left'},
            // {headerName: '上行', field: 'upload', width: 110},
            {headerName: '上行', field: 'upload'},
            {headerName: '下行', field: 'download'},
            {headerName: '网络占用率', field: 'netuse'},
        ];
        //将列和数据赋给gridOptions
        gridOptions = {
            columnDefs: columnDefs,
            rowData: [],
            onGridReady: function () {
                //表格创建完成后执行的事件
                gridOptions.api.sizeColumnsToFit();//调整表格大小自适应
            },
            defaultColDef: {
                editable: false,//单元表格是否可编辑
                // enableValue: true,
                sortable: false, //开启排序
                resizable: false,//是否可以调整列大小，就是拖动改变列大小
                filter: false,  //开启刷选
                lockPosition: true //禁止拖动列的位置
            },
            pagination: false,  //开启分页（前端分页）
            paginationAutoPageSize: false, //根据网页高度自动分页（前端分页）
            rowHeight:25

        };
        const eGridDiv = document.querySelector('#localNetFlow');
        new agGrid.Grid(eGridDiv, gridOptions);
    }

    /**
     * 渲染本地网络流量监控数据
     */
    function handleNetStart() {
        monitor = new WebSocket(monitorNetInfoUrl)
        monitor.onclose = function () {
            $("#netstatusdiv").css({
                "display": "none"
            })
        }
        monitor.onopen = function () {
            $("#netstatusdiv").css({
                "display": ""
            })
        }
        monitor.onmessage = function (e) {
            // console.log(e.data)
            if (e.data.indexOf("{") === -1) {
                return
            }
            let data = JSON.parse(e.data);
            // console.log(e);
            if (data.hasOwnProperty("upload")) {
                // speedinfo
                // document.getElementById('localIP').innerHTML = data.ip;
                // document.getElementById('upload').innerHTML = data.upload.toFixed(2) + "kb/s";
                // document.getElementById('download').innerHTML = data.download.toFixed(2) + "kb/s";
                // let netUsePersent = (((data.download + data.upload ) / (data.bandwidth * 1024 / 8)) *
                //         100).toFixed(3)
                // document.getElementById('netuse').innerHTML = netUsePersent + "%";
                // netUsePersent < 60 ? $(".localcol").css({
                //   "color": "#009688",
                //   "background": "white"
                // }) : $(".localcol").css({
                //   "color": "red",
                //   "background": "white"
                // });
                data.upload = data.upload.toFixed(2) + "kb/s";
                data.download = data.download.toFixed(2) + "kb/s";
                data.netuse = data.netuse.toFixed(3) + "%"
                gridOptions.api.setRowData([data]);
                // table.render({
                //   elem: '#localNetFlow',
                //   cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                //     // ,size:"sm"
                //     ,
                //   cols: [
                //     [{
                //       field: 'ip',
                //       width: 130,
                //       align: "center",
                //       title: '本地IP'
                //     }, {
                //       field: 'upload',
                //       width: 110,
                //       align: "center",
                //       title: '上行'
                //     }, {
                //       field: 'download',
                //       width: 110,
                //       align: "center",
                //       title: '下行'
                //     }, {
                //       field: 'netuse',
                //       align: "center",
                //       title: '网络占用率'
                //     }]
                //   ],
                //   data: [data]
                // });
                iconFlash("netusestatus")
            }
        }
    }

    /**
     * 本地网路流量监控 -- 控制关闭
     */
    function monitNetStop() {
        if (monitor) {
            monitor.close()
        }
        $("#netstatusdiv").css({
            "display": "none"
        })
        // $.ajax({
        //   type: 'POST',
        //   url: controlNetUsingUrl,
        //   data: {
        //     "msg": "stop"
        //   },
        //   success: function (e) {
        //     console.log("success")
        //     console.log(e)
        //     let aaa = JSON.parse(e.data)
        //     console.log(aaa)
        //     $("#netstatusdiv").css({
        //       "display": "none"
        //     })
        //     layui.layer.msg("已关闭", {
        //       icon: 1
        //     })
        //     if (monitor) {
        //       monitor.close()
        //     }
        //   },
        //   error: function (e) {
        //     console.log("err")
        //     console.log(e)
        //     $("#netstatusdiv").css({
        //       "display": "none"
        //     })
        //     layui.layer.alert(e.responseText, {
        //       icon: 2
        //     })
        //
        //   },
        //   dataType: "json"
        // });

    }


    /**
     * 获得转义后的ip string
     * @param ip ip地址
     * @returns {string} 转义后的ip地址
     */
    function ipSelect(ip) {
        let ipbonds = $.trim(ip).split(".")
        let classSelector = "";
        for (let i = 0; i < ipbonds.length; i++) {
            classSelector += ipbonds[i] + "\\."
        }
        let ipSelector = classSelector.substring(0, classSelector.length - 2)
        return ipSelector
    }

    /**
     * 状态指示
     * @param ipSelector
     */
    function iconFlash(ipSelector) {
        $("." + ipSelector).find(".layui-icon").css({
            "color": "green"
        })
        setTimeout(function () {
            $("." + ipSelector).find(".layui-icon").css({
                "color": "white"
            })
        }, 1000)
    }

    /**
     * IP地址的正则表达式
     * @param ip IP地址
     * @returns {boolean} ip地址格式是否正确
     */
    function isValidIP(ip) {
        let reg =
            /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
        return reg.test(ip);
    }


    init();
</script>

<style>
    .rev {
        /* width: 80px; */
    }

    .line {
        display: block;
    }

    table {
        border-collapse: collapse;
    }


    .invisible {
        display: none;
    }

    th {
        background-color: #3296FA;
        color: white;
    }

    .trbtn {
        width: 40px;
        height: 20px;
    }

    h3 {
        margin: 5px;
    }

    .statusCommentDiv p {
        margin: 2px;
        padding-left: 40px;
        font-size: 10px
    }

    .ag-body-viewport-wrapper.ag-layout-normal {
        overflow-x: hidden;
        overflow-y: hidden;
    }
</style>

</html>
