<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Go Web</title>
    <link rel="stylesheet" href="/js/layui-v2.5.6/layui/css/layui.css">
    <script src="/js/layui-v2.5.6/layui/layui.all.js"></script>
</head>

<body>

<div>
    <div class="main">
        <div class="onoff">
            <div style="text-align: right;margin-right: 50px">
                <button id="" class="layui-btn layui-btn-sm" onclick="queryHistory()">查看历史</button>
            </div>
            <!-- lay-size="sm" -->
            <div>
                <div style="text-align: center;">

                    <div class="layui-inline">

                        <table class="onoffTable layui-table" lay-skin="line"
                               style="max-width: 600px;min-width: 400px ">
                            <tr>
                                <th>远程主机IP</th>
                                <th>主机状态<sup>*</sup></th>
                            </tr>
                            <tr class="onoffTr invisible">
                                <td id="ip"></td>
                                <td><i class="layui-icon layui-icon-radio" style="font-size: 5px; color: white;"></i> <i
                                            id="status">
                                    </i></td>
                            </tr>
                        </table>
                    </div>
                </div>

                {{/*                <div class="statusCommentDiv" style="padding-top: 5px;color:black;font-size: 12px;">*/}}
                {{/*                    <SUP>*</SUP>状态说明：*/}}
                {{/*                    <p><i style="color: #009688">ONLINE</i>: 网络通畅</p>*/}}
                {{/*                    <p><i style="color: #FFB800">LOSTRATEG1</i>: 丢包率大于1%</p>*/}}
                {{/*                    <p><i style="color: #FFB800">HIGH_LATENCY</i>: 平均延迟超过300ms</p>*/}}
                {{/*                    <p><i style="color: red">OFFLINE</i>: 网络不可达</p>*/}}
                {{/*                </div>*/}}
            </div>


        </div>


    </div>

</div>
</div>

</body>

<script type="text/javascript">
    'use strict';
    const $ = layui.$
    const pData = {{.}}
    const fData = JSON.parse(pData)
    console.log(pData)
    const ffIp = fData.ip
    const infoURI = "ws://" + ffIp + ":8769/info";
    const getHistoryUrl = "http://" + ffIp + ":8769/getHistory";

    console.log(fData.targets)
    const ips = fData.targets

    for (let idx = 0; idx < ips.length; idx++) {
        let mIP = $.trim(ips[idx])
        console.log(mIP)
        let iptHtml = '<input type="checkbox" class="ipt" name="' + mIP + '" title="' + mIP + '">'
        $(".target2Ping").append(iptHtml)
        let ipTr = $(".onoffTr").clone().removeClass("onoffTr").removeClass("invisible").addClass(mIP)
        ipTr.appendTo(".onoffTable")
        // testBeating(mIP)
    }

    // 对Date的扩展，将 Date 转化为指定格式的String
    // 月(M)、日(d)、小时(H)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
    // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
    // 例子：
    // (new Date()).Format("yyyy-MM-dd HH:mm:ss.S") ==> 2006-07-02 08:09:04.423
    // (new Date()).Format("yyyy-M-d H:m:s.S")      ==> 2006-7-2 8:9:4.18
    Date.prototype.Format = function (fmt) { //author: meizz
        let o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (let k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    // 初始化
    const statMap = new Map();

    function init() {
        statMap.set("ONLINE", "在线");
        statMap.set("OFFLINE", "不可达");
        statMap.set("LOSTRATEG1", "丢包率高于1%");
        statMap.set("HIGH_LATENCY", "延迟高于300毫秒");
        resizeFrame()
        initSock();
    }

    function resizeFrame() {
        const width = window.innerWidth - 220
        $("body").css({width: width + "px"})
    }

    /**
     * 查询历史记录
     * @param st 开始时间
     * @param et 结束时间
     * @param ip ip地址
     * @param status 状态
     */
    function queryHistory(st, et, ip = "", status = "") {
        let d1 = new Date(new Date().setMinutes(new Date().getMinutes() - 5)).Format("yyyy/MM/dd hh:mm:ss");
        let d2 = new Date().Format("yyyy/MM/dd hh:mm:ss");
        if (st && et) {
            d1 = st.Format("yyyy/MM/dd hh:mm:ss");
            d2 = et.Format("yyyy/MM/dd hh:mm:ss");
        }

        console.log("d1 开始时间   " + d1)
        console.log("d2 结束时间   " + d2)
        let historyLayer = layui.layer.load(1, {
            shade: [0.1, '#fff'] //0.1透明度的白色背景
        });
        // 三秒未加载成功 提醒清理日志
        const historyTimeout = setTimeout("layui.layer.alert('加载时间过长，请考虑删除过期日志')", 3000)
        $.ajax({
            type: 'POST',
            url: getHistoryUrl,
            contentType: "application/x-www-form-urlencoded",
            data: {
                d1: d1,
                d2: d2,
                ip: ip,
                status: status
            },
            success: function (e) {
                layui.layer.close(historyLayer)
                clearInterval(historyTimeout)
                console.log("success")
                // console.log(e)
                let res = JSON.parse(e.data)
                console.log(res)
                handleResHistory(res.result, {
                    d1: d1,
                    d2: d2,
                    ip: ip,
                    status: status
                })

            },
            error: function (e) {
                layui.layer.close(historyLayer)
                clearInterval(historyTimeout)
                console.log("err")
                console.log(e)
            },
            dataType: "json"
        });
    }

    let openedTable = null
    let lastSelectTime = null

    /**
     * 历史数据的前端渲染
     * @param data 历史数据
     * @param dtime 所选时间
     */
    function handleResHistory(data, dtime) {
        //在这里面输入任何合法的js语句
        let st = new Date(dtime.d1)
        let et = new Date(dtime.d2)
        let estr = et.Format("yyyy/MM/dd hh:mm:ss")
        let sstr = st.Format("yyyy/MM/dd hh:mm:ss")
        let tt = sstr + " - " + estr
        window.leftHistory = function () {
            let st1 = new Date(st).setMinutes(new Date(st).getMinutes() - 5)
            let et1 = new Date(st)
            if ($("#test5").val() !== "") {
                lastSelectTime = $("#test5").val()
                let t5t = new Date($("#test5").val())
                st1 = new Date(t5t).setMinutes(new Date(t5t).getMinutes() - 5)
                et1 = new Date($("#test5").val())
                const t5StrNew = new Date(st1).Format("yyyy-MM-dd hh:mm:ss")
                $("#test5").val(t5StrNew)
            }
            st1 = new Date(st1)
            tt = st1.Format("yyyy/MM/dd hh:mm:ss") + " - " + et1.Format("yyyy/MM/dd hh:mm:ss")
            $(".layui-layer-title").text("5Min记录" + tt)
            queryHistory(st1, et1, $("#test5ip").val(), $("#test5status").val())
        }
        window.rightHistory = function () {
            let st1 = new Date(et)
            let et1 = new Date(et).setMinutes(new Date(et).getMinutes() + 5)
            if ($("#test5").val() !== "") {
                let t5t = new Date($("#test5").val())
                st1 = new Date($("#test5").val())
                et1 = new Date(t5t).setMinutes(new Date(t5t).getMinutes() + 5)
                const t5StrNew = new Date(et1).Format("yyyy-MM-dd hh:mm:ss")
                $("#test5").val(t5StrNew)
            }
            et1 = new Date(et1)
            tt = st1.Format("yyyy/MM/dd hh:mm:ss") + " - " + et1.Format("yyyy/MM/dd hh:mm:ss")
            $(".layui-layer-title").text("5Min记录" + tt)
            queryHistory(st1, et1, $("#test5ip").val(), $("#test5status").val())
        }
        // 如果已打开，不重复打开
        if ($("#openedLayerDiv").length === 0) {
            openedTable = layui.layer.open({
                type: 0 //Page层类型
                ,
                area: ['650px', '440px'],
                title: "5Min记录" + tt,
                // shade: 0.6 ,//遮罩透明度
                maxmin: true //允许全屏最小化
                ,
                anim: 1 //0-6的动画形式，-1不开启
                ,
                content: '<div id="openedLayerDiv" class="layui-inline">\n' +
                    '      <label class="layui-input-inline">选择参考时间</label>\n' +
                    '      <div class="layui-input-inline">\n' +
                    '        <input type="text" class="layui-input" id="test5" placeholder="yyyy-MM-dd HH:mm:ss">\n' +
                    '      </div>\n' +
                    '    </div>' +
                    '<div  class="layui-inline">\n' +
                    '      <label class="layui-input-inline">IP </label>\n' +
                    '      <div class="layui-input-inline">\n' +
                    '        <input type="text" class="layui-input" id="test5ip" placeholder="ip">\n' +
                    '      </div>\n' +
                    '    </div>' +
                    '<div  class="layui-inline">\n' +
                    '      <label class="layui-input-inline">状态 </label>\n' +
                    '      <div class="layui-input-inline">\n' +
                    '        <input type="text" class="layui-input" id="test5status" placeholder="status">\n' +
                    '      </div>\n' +
                    '    </div>' +
                    ' <div class="layui-btn-group">\n' +
                    '    <button type="button" onclick="leftHistory(' +
                    ')" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-left"></i></button>\n' +
                    '    <button type="button" onclick="rightHistory(' +
                    ')" class="layui-btn layui-btn-sm "><i class="layui-icon layui-icon-right"></i></button>\n' +
                    '  </div>' +
                    '<table class="layui-hide" id="test"></table>',
                id: 'testReload'
            });
        }

        console.log(openedTable)
        renderTableHistory(data)

    }

    /**
     * table渲染历史数据
     * @param data
     */
    function renderTableHistory(data) {
        let table = layui.table;

        table.render({
            elem: '#test'
            // ,height:150
            ,
            cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,
            cols: [
                [{
                    field: 'ip',
                    title: 'ip',
                    sort: true
                }, {
                    field: 'status',
                    title: '状态',
                    sort: true
                } //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    , {
                    field: 'time',
                    title: '时间',
                    sort: true
                }
                ]
            ],
            data: data,
            page: true //是否显示分页
            ,
            even: true,
            limits: [10, 20, 50, 100],
            limit: 10 //每页默认显示的数量
            ,
            done: function (res, curr, count) {
                // //如果是异步请求数据方式，res即为你接口返回的信息。
                // //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                // console.log(res);
                //
                // //得到当前页码
                // console.log(curr);
                //
                // //得到数据总量
                // console.log(count);

                //日期时间选择器
                layui.laydate.render({
                    elem: '#test5',
                    type: 'datetime'
                });
            }
        });
    }


    /**
     * 获得转义后的ip string
     * @param ip ip地址
     * @returns {string} 转义后的ip地址
     */
    function ipSelect(ip) {
        let ipbonds = $.trim(ip).split(".")
        let classSelector = "";
        for (let i = 0; i < ipbonds.length; i++) {
            classSelector += ipbonds[i] + "\\."
        }
        let ipSelector = classSelector.substring(0, classSelector.length - 2)
        return ipSelector
    }

    /**
     * 开启网关（节点）状态监控数据的渲染
     */
    function initSock() {

        let infoSock = new WebSocket(infoURI);
        infoSock.onmessage = function (e) {
            // console.log(e.data)
            if (e.data.indexOf("{") === -1) {
                return
            }
            let data = JSON.parse(e.data);
            // console.log(e);
            if (data.hasOwnProperty("status")) {
                let ipSelector = ipSelect(data.ip)
                let stat = data.status

                $("." + ipSelector).find("#ip").text(data.ip)
                let colorStat = $("." + ipSelector).find("#status")
                colorStat.text(statMap.get(data.status))
                data.status === "ONLINE" ? colorStat.prevObject.css({
                    "color": "#009688"
                }) : (data.status === "LOSTRATEG1" || data.status === "HIGH_LATENCY") ? colorStat.prevObject.css({
                    "color": "#FFB800",
                }) : colorStat.prevObject.css({
                    "color": "red",
                })
                iconFlash(ipSelector)
            }

        }
    }


    /**
     * 状态指示
     * @param ipSelector
     */
    function iconFlash(ipSelector) {
        $("." + ipSelector).find(".layui-icon").css({
            "color": "green"
        })
        setTimeout(function () {
            $("." + ipSelector).find(".layui-icon").css({
                "color": "white"
            })
        }, 1000)
    }


    init();
</script>

<style>
    .rev {
        /* width: 80px; */
    }

    .line {
        display: block;
    }

    table {
        border-collapse: collapse;
    }


    .invisible {
        display: none;
    }

    th {
        background-color: #3296FA;
        color: white;
    }

    .trbtn {
        width: 40px;
        height: 20px;
    }

    h3 {
        margin: 5px;
    }

    .statusCommentDiv p {
        margin: 2px;
        padding-left: 40px;
        font-size: 10px
    }

    .ag-body-viewport-wrapper.ag-layout-normal {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .main {
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
    }

    /*设置数据表表头字体*/
    .layui-table th {
        /*表头内容居中显示*/
        text-align: center;
    }
</style>

</html>
