<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <title>Go Web</title>
  <link rel="stylesheet" href="/js/layui-v2.5.6/layui/css/layui.css">

  <script src="/js/layui-v2.5.6/layui/layui.all.js"></script>
  <script src="/js/jquery-2.2.3.min.js"></script>
  <script src="/js/echarts/echarts.js"></script>
</head>

<body style="">

<div >
  <div class="layui-container">
    <!--
    type Status struct {
	Ip string `json:"ip"`
	Send int64 `json:"send"`
	Recv int64 `json:"recv"`
	Lost float64 `json:"lost"` //丢失率  单位百分比
	Duration int64 `json:"duration"`
	MaxDuration int64 `json:"maxDuration"` //最大延迟
	MinDuration int64 `json:"minDuration"` //最小延迟
	SumDuration int64 `json:"sumDuration"` //平均延迟
}
 -->
    <div class="layui-row" style="height: 40px;">
      <div class="">
        <!-- <button id="restart" class="layui-btn layui-btn-warm" onclick="restart()">重启</button>
        <button id="testNetSpeed" class="layui-btn" onclick="testNetSpeed()">测试网速</button> -->
        <label id="testNetSpeed-label" class="" style="line-height: 40px;"></label>
      </div>

    </div>
    <div class="layui-row layui-col-space10 ">
      <div class="layui-col-xs6 ">
        <h1>网络监控
         <!--
          <button id="modify" class="layui-btn layui-btn-normal" onclick="config()">修改配置文件</button>
          <button id="restart" class="layui-btn layui-btn-warm" onclick="restart()">重启</button>
          -->
        </h1>

        <div class="onoff">
            <h3  style="display: inline">网关（节点）监控：</h3>
          <button id="" class="layui-btn layui-btn-sm" onclick="queryHistory()" >查看历史</button>
          <button id="" class="layui-btn layui-btn-sm" onclick="speedTest()" >网速测试</button>
          <table class="onoffTable layui-table" lay-size="sm" lay-skin="line">
            <tr>
              <th>远程主机IP</th>
              <th>主机状态</th>
              <th class="invisible">操作</th>
            </tr>
            <tr class="onoffTr invisible">
              <td id="ip"></td>
              <td ><i class="layui-icon layui-icon-radio" style="font-size: 5px; color: white;"></i> <i id="status"> </i> </td>
              <td class="invisible"><button class="onoffTrbtn">测速</button></td>
            </tr>
          </table>
        </div>
        <h3 style="display: inline">本地网卡链路层流量监控：</h3>
        <button id="modify" class="layui-btn layui-btn-sm layui-btn-normal" onclick="monitNetStart()">开启监控</button>
        <button id="modify" class="layui-btn layui-btn-sm layui-btn-normal" onclick="monitNetStop()">关闭监控</button>
        <div id="netstatusdiv" style="display: none">

          <table class="local layui-table" lay-size="lg" lay-skin="line">
            <tr>
              <th class="netusestatus">本地ip <i class="layui-icon layui-icon-radio" style="font-size: 5px; color: white;"></i></th>
              <th>上行</th>
              <th>下行</th>
              <th>网络使用率</th>
            </tr>
            <tr class="localcol">
              <td id="localIP"></td>
              <td id="upload"></td>
              <td id="download"></td>
              <td id="netuse"></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="layui-col-xs6">
        <!--  单目标监测 异常节点监测-->
        <h2 style="margin-bottom: 10px">目标独立监测：</h2>
        <div>
          <form class="layui-form" action="">
            <div class="layui-form-item">
              <label class="layui-form-label">检测持续时间</label>
              <div class="layui-input-block">
                <select name="min" lay-verify="required">
                  <option value=""></option>
                  <option value="5">5分钟</option>
                  <option value="60">1小时</option>
                  <option value="300">5小时</option>
                  <option value="720">12小时</option>
                  <option value="1440">24小时</option>
                </select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">请选择</label>
              <div class="layui-input-block target2Ping">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">其它节点</label>
              <div class="layui-input-block">
                <input type="text" name="otherip" lay-verify="otherip" autocomplete="off" placeholder="请输入ip" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn ipt_btn" lay-submit lay-filter="formDemo">立即提交</button>
                <div id="timediv" style="display: none">
                  <h3>剩余时间：</h3><i id="timer"></i><h3>秒</h3>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div id="doudong" style="width: 600px;height: 550px;"></div>

      </div>


    </div>

  </div>
</div>

</body>

<script type="text/javascript">
  var form = layui.form;
  var layer = layui.layer;

  var pData = {{.}}
  var fData = JSON.parse(pData)

  console.log(pData)
  var ffIp = fData.ip
  var infoURI = "ws://" + ffIp + ":8769/info";
  // var restartUrl = "http://" + ffIp + ":8769/sendRestart";
  // var testNetSpeedUrl = "http://" + ffIp + ":8769/echo";
  // var confUrl = "ws://" + ffIp + ":8769/config";
  var pingStandaloneUrl ="http://" + ffIp + ":8769/startPingTargets";
  var pingStandalneInfoUrl = "ws://" + ffIp + ":8769/getPingTargetsInfo";
  var controlNetUsingUrl = "http://" + ffIp + ":8769/controlNetUsing";
  var monitorNetInfoUrl = "ws://" + ffIp + ":8769/getNetUsingInfo";
  var getHistoryUrl = "http://" + ffIp + ":8769/getHistory";
  console.log(fData.targets)
  var ips = fData.targets

  for(var idx =0; idx<ips.length;idx++){
    var mIP = $.trim(ips[idx])
    console.log(mIP)
    var iptHtml = '<input type="checkbox" class="ipt" name="'+mIP+'" title="'+mIP+'">'
    $(".target2Ping").append(iptHtml)
    var ipTr = $(".onoffTr").clone().removeClass("onoffTr").removeClass("invisible").addClass(mIP)
    // ipTr.find(".trbtn").on("click",function(e,mIP){
    //   console.log(mIP)
    //   testNetSpeed(mIP)
    // });
    ipTr.find(".onoffTrbtn").attr({"onclick":"testNetSpeed(\""+mIP+"\")"})
    ipTr.appendTo(".onoffTable")
    // testBeating(mIP)
  }


  var timerForEnd =0
  function caclLeftTimeSec(m){
    var sec = parseInt(m) * 60
    $("#timer").text(sec)
    timerForEnd = setInterval("timerTicks()",1000)
  }
  function timerTicks(){
    var sec = parseInt($("#timer").text()) - 1;
    $("#timer").text(sec);
    if(sec<=0){
      clearInterval(timerForEnd)
      $(".ipt").attr({"disabled":"false"})
      $(".ipt_btn").attr({"disabled":"false"})
      $(".ipt_btn").removeClass("layui-btn-disabled")
    }
  }
  // 对Date的扩展，将 Date 转化为指定格式的String
  // 月(M)、日(d)、小时(H)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
  // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
  // 例子：
  // (new Date()).Format("yyyy-MM-dd HH:mm:ss.S") ==> 2006-07-02 08:09:04.423
  // (new Date()).Format("yyyy-M-d H:m:s.S")      ==> 2006-7-2 8:9:4.18
  Date.prototype.Format = function(fmt)
  { //author: meizz
    var o = {
      "M+" : this.getMonth()+1,                 //月份
      "d+" : this.getDate(),                    //日
      "h+" : this.getHours(),                   //小时
      "m+" : this.getMinutes(),                 //分
      "s+" : this.getSeconds(),                 //秒
      "q+" : Math.floor((this.getMonth()+3)/3), //季度
      "S"  : this.getMilliseconds()             //毫秒
    };
    if(/(y+)/.test(fmt))
      fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
    for(var k in o)
      if(new RegExp("("+ k +")").test(fmt))
        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
    return fmt;
  }
  function speedTest(){

  }

  function queryHistory(st,et) {
    var d1  = new Date().Format("yyyy/MM/dd hh:mm:ss");
    var d2 = new Date().Format("yyyy/MM/dd hh:mm:ss");
    d1 = new Date().setMinutes(new Date().getMinutes()-5);
    d1 = new Date(d1)
    d1 = d1.getTime()
    d1 = JSON.stringify(d1)
    d2 = JSON.stringify(new Date().getTime())
    d2 = new Date;
    d2 = d2.getTime()
    d2 = JSON.stringify(d2)
    if(st&&et){
      d1 = JSON.stringify(st.getTime())
      d2 = JSON.stringify(et.getTime())
    }
    console.log("d1 开始时间   "+new Date(parseInt(d1)))
    console.log("d2 结束时间   "+new Date(parseInt(d2)))
    console.log(d1)
    console.log(d2)
    $.ajax({
      type: 'POST',
      url:getHistoryUrl,
      data: {d1:d1,d2:d2},
      success: function (e) {
        console.log("success")
        // console.log(e)
        var res = JSON.parse(e.data)
        console.log(res)
        handleResHistory(res.result,{d1:d1,d2:d2})

      },
      error:function(e){

        console.log("err")
        console.log(e)
      },
      dataType: "json"
    });
  }
  var openedTable = null
  var lastSelectTime = null
  function handleResHistory(data,dtime) {
    //在这里面输入任何合法的js语句
    var st =new Date(parseInt(dtime.d1))
    var et = new Date(parseInt(dtime.d2))
    var estr = et.Format("yyyy-MM-dd hh:mm:ss")
    var sstr = st.Format("yyyy-MM-dd hh:mm:ss")
    var tt = sstr +" - "+ estr
    window.leftHistory = function(){

      var st1 = new Date(st).setMinutes(new Date(st).getMinutes()-5)
      var et1 = new Date(st)
      if($("#test5").val() !== ""){
        lastSelectTime = $("#test5").val()
        var t5t = new Date($("#test5").val())
        st1 = new Date(t5t).setMinutes(new Date(t5t).getMinutes()-5)
        et1 = new Date($("#test5").val())
      }
      st1 = new Date(st1)
      queryHistory(st1,et1)
    }
    window.rightHistory = function(){
      var st1 = new Date(et)
      var et1 = new Date(et).setMinutes(new Date(et).getMinutes()+5)
      if($("#test5").val() !== ""){
        var t5t = new Date($("#test5").val())
        st1 = new Date($("#test5").val())
        et1 = new Date(t5t).setMinutes(new Date(t5t).getMinutes()+5)
      }
      et1 = new Date(et1)
      queryHistory(st1,et1)
    }
    // 如果已打开，不重复打开
    if($("#openedLayerDiv").length === 0){
      openedTable = layui.layer.open({
        type: 0 //Page层类型
        ,area: ['650px', '540px']
        ,title: "5Min记录"+tt
        ,shade: 0.6 //遮罩透明度
        ,maxmin: true //允许全屏最小化
        ,anim: 1 //0-6的动画形式，-1不开启
        ,content: '<div id="openedLayerDiv" class="layui-inline">\n' +
                '      <label class="layui-input-inline">选择参考时间</label>\n' +
                '      <div class="layui-input-inline">\n' +
                '        <input type="text" class="layui-input" id="test5" placeholder="yyyy-MM-dd HH:mm:ss">\n' +
                '      </div>\n' +
                '    </div>' +
                ' <div class="layui-btn-group">\n' +
                '    <button type="button" onclick="leftHistory(' +
                ')" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-left"></i></button>\n' +
                '    <button type="button" onclick="rightHistory(' +
                ')" class="layui-btn layui-btn-sm "><i class="layui-icon layui-icon-right"></i></button>\n' +
                '  </div>' +
                '<table class="layui-hide" id="test"></table>'
        ,id: 'testReload'
      });
    }

    console.log(openedTable)
    renderTableHistory(data)

  }
  function renderTableHistory(data) {
    var table = layui.table;

    table.render({
      elem: '#test'
      // ,height:350
      ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
      ,cols: [[
        {field:'ip', title: 'ip', sort: true}
        ,{field:'status', title: '状态', sort: true} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
        ,{field:'time', title: '时间', sort: true}
      ]]
      ,data: data
      ,page: true //是否显示分页
      ,even: true
      ,limits: [10, 20,50,100]
      ,limit: 10 //每页默认显示的数量
      ,done: function(res, curr, count){
        // //如果是异步请求数据方式，res即为你接口返回的信息。
        // //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
        // console.log(res);
        //
        // //得到当前页码
        // console.log(curr);
        //
        // //得到数据总量
        // console.log(count);

        //日期时间选择器
        layui.laydate.render({
          elem: '#test5'
          ,type: 'datetime'
          ,value: lastSelectTime
        });
      }
    });
  }
  function getPingTargetsInfo(selectIps){
    var ptiSock = new WebSocket(pingStandalneInfoUrl)
    var runningsTar = fData.running
    var options = generateOption()
    var chart = document.getElementById("doudong");
    var echart = echarts.init(chart);
    // 根据muban复制出来一个table
    // $(".muban").clone().removeClass("muban").addClass("myTable").removeClass("invisible").appendTo(".zzLayer")
    options.legend.data = []
    options.series = []
    var copyOfX = JSON.parse(JSON.stringify(options.xAxis[0]) )
    // var copyOfy = JSON.parse(JSON.stringify(options.yAxis[0]) )
    options.xAxis =[]
    // options.yAxis =[]
    if (selectIps){
      runningsTar = selectIps
    }
    if (runningsTar){
      for (var i=0;i<10;i++){
        console.log(i)
      }
      for(var idx =0; idx < runningsTar.length;idx++) {
        console.log(idx)
        var ip = $.trim(runningsTar[idx])
        options.legend.data.push(ip) // catagory echart
        var xxis = JSON.parse(JSON.stringify(copyOfX))
        xxis.name = ip
        xxis.axisLabel.margin = xxis.axisLabel.margin + (xxis.axisLabel.textStyle.fontSize + 4) * idx
        xxis.axisLabel.show = (idx === 0)
        xxis.data = []
        options.xAxis.push(xxis) // n个x坐标轴
        // var yyis = JSON.parse(JSON.stringify(copyOfy) )
        // options.yAxis.push(yyis)
        options.series.push(handleSeries(ip))
      }
    }
    ptiSock.onmessage = function (e) {
      // console.log(e.data)
      if (e.data.indexOf("{") === -1){
        return
      }
      var data = JSON.parse(e.data);
      // console.log(e);
      if(data.hasOwnProperty("recv")){
        // pinginfo
        // 修改为动态根据ip创建dom

        var ipSelector = ipSelect(data.ip)
        // var lostp=data.lostPercent/100

        // $("." + ipSelector).find("#ip").text(data.ip)
        // $("." + ipSelector).find("#send").text(data.send)
        // $("." + ipSelector).find("#lost").text(data.lost)
        // $("." + ipSelector).find("#recv").text(data.recv)
        // $("." + ipSelector).find("#short").text(data.short + "ms")
        // $("." + ipSelector).find("#long").text(data.long + "ms")
        // var colorLost = $("." + ipSelector).find("#lostPercent") //.text(data.lostPercent + "%")
        // colorLost.text(lostp + "%")
        // lostp === 0 ? colorLost.prevObject.css({
        //   "color": "white",
        //   "background": "#009688"
        // }) : lostp > 0 && lostp < 10 ? colorLost.prevObject.css({
        //   "color": "white",
        //   "background": "#FFB800"
        // }) : lostp > 10 ? colorLost.prevObject.css({
        //   "color": "white",
        //   "background": "red"
        // }) : colorLost.prevObject.css({
        //   "color": "white",
        //   "background": "black"
        // })

        // echart绘制
        var y=data.time.split(" ")[1]
        // handle x data
        for(var i =0;i<options.xAxis.length;i++){
          if(options.xAxis[i].name === data.ip){
            options.xAxis[i].data.push(y)
            // 超过60个数据删除
            if(options.xAxis[i].data.length>60){
              //删除第一个数据
              options.xAxis[i].data.shift()
              // 对应删除y
              for(let y=0;y<options.series.length;y++){
                if(options.series[y].name === data.ip){
                  options.series[y].data.shift()
                }
              }
            }

          }
        }
        // handel y data
        for(let j= 0;j<options.series.length;j++){
          if(options.series[j].name === data.ip){
            options.series[j].data.push(data.duration>=3000?-1:data.duration)
          }

        }
        echart.setOption(options);
      }

    }
  }
  var monitor = null
  if(monitor){
    if(monitor.readyState === monitor.CLOSED){
      handleNetStart()
    }
  }else{
    handleNetStart()
  }
  function  monitNetStart(){
    $.ajax({
      type: 'POST',
      url: controlNetUsingUrl,
      data: {"msg":"start"} ,
      success: function (e) {
        console.log("success")
        console.log(e)
        layui.layer.msg("已开启",{icon:1})
        if(monitor){
          if(monitor.readyState === monitor.CLOSED){
            setTimeout("handleNetStart()",2000)
          }
        }else{
          setTimeout("handleNetStart()",2000)
        }

      },
      error:function(e){
        console.log("err")
        console.log(e)
        // layui.layer.alert(e.responseText,{icon:2})

      },
      dataType: "json"
    });
  }
  function handleNetStart() {
    monitor = new WebSocket(monitorNetInfoUrl)
    monitor.onclose = function(){
      $("#netstatusdiv").css({"display":"none"})
    }
    monitor.onopen = function(){
      $("#netstatusdiv").css({"display":""})
    }
      monitor.onmessage = function (e) {
      // console.log(e.data)
      if (e.data.indexOf("{") === -1) {
        return
      }
      var data = JSON.parse(e.data);
      // console.log(e);
      if (data.hasOwnProperty("upload")) {
        // speedinfo
        var duration = data.duration_sec
        document.getElementById('localIP').innerHTML = data.ip;
        document.getElementById('upload').innerHTML = data.upload.toFixed(2) + "kb/s";
        document.getElementById('download').innerHTML = data.download.toFixed(2) + "kb/s";
        var netUsePersent = (((data.download + data.upload ) / (data.bandwidth * 1024 / 8)) *
                100).toFixed(3)
        document.getElementById('netuse').innerHTML = netUsePersent + "%";
        netUsePersent < 60 ? $(".localcol").css({
          "color": "#009688",
          "background": "white"
        }) : $(".localcol").css({
          "color": "red",
          "background": "white"
        });
        iconFlash("netusestatus")
      }
    }
  }
  function monitNetStop() {
    $.ajax({
      type: 'POST',
      url: controlNetUsingUrl,
      data: {"msg":"stop"} ,
      success: function (e) {
        console.log("success")
        console.log(e)
        var aaa = JSON.parse(e.data)
        console.log(aaa)
        $("#netstatusdiv").css({"display":"none"})
        layui.layer.msg("已关闭",{icon:1})
        if(monitor){
          monitor.close()
        }
      },
      error:function(e){
        console.log("err")
        console.log(e)
        $("#netstatusdiv").css({"display":"none"})
        layui.layer.alert(e.responseText,{icon:2})

      },
      dataType: "json"
    });

  }
  function config(){
    var layer = layui.layer
    var confSock = new WebSocket(confUrl)
    confSock.onopen = function (e) {
      confSock.send("read")
    }
    var srcdata = ""
    confSock.onmessage = function(e){
      srcdata = e.data
      layer.prompt({
        formType: 2,
        value: e.data,
        title: '修改配置文件',
        area: ['600px', '350px'] //自定义文本域宽高
      }, function(value, index, elem){
        if(value === srcdata){
          // 没有改动
          layer.close(index);
          return
        }
        // alert(value); //得到value
        if(value.split("，").length!==1){
          layer.msg("不能包含中文标点符号")
          return
        }
        if(confSock.readyState!==1){
          // 开始修改配置文件
          new WebSocket(confUrl).onopen = function(e){
            e.target.send(value)
            setTimeout(restart,2000)
          }
        }else{
          confSock.send(value)
        }
        layer.close(index);
      });
    }

    // $.get('url', {}, function(str){
    //   layui.layer.open({
    //     type: 1,
    //     content: str //注意，如果str是object，那么需要字符拼接。
    //   });
    // });
  }

  function restart() {
    $("#restart").attr("disabled", true)
    layui.layer.msg('正在重启中，请等待自动刷新……', {time: 8000});
    layui.layer.load(1); //风格1的加载
    $.ajax({
      type: 'POST',
      url: restartUrl,
      data: {},
      success: function (e) {
        setTimeout(function () {
          location.reload();
        }, 8000)
      },
      error:function(e){
        setTimeout(function () {
          location.reload();
        }, 8000)
      },
      dataType: "json"
    });

  }
  function testBeating(ip){
    var beaturl = "ws://" + ip + ":8669/beating";
    var ipselecter = ipSelect(ip)
    var testBeatingSock = new WebSocket(beaturl)
    var timeoutSet = setTimeout(() => {
      $("."+ipselecter).find(".trbtn").attr({'disabled':"true"});
    }, 2000)
    testBeatingSock.onerror =function(e){
    }
    testBeatingSock.onopen = function (e) {
      clearTimeout(timeoutSet)
      testBeatingSock.close()
      // testSock.send(addr)//("http://192.168.96.183:8669/r")
    }
    testBeatingSock.onmessage = function (e){

    }
  }
  function testNetSpeed(mIP) {
    var addr = "http://"+mIP+":8669/r"
    console.log("test speed:"+addr)
    var ipselecter = ipSelect(mIP)
    $("."+ipselecter).find(".trbtn").attr({'disabled':"true"});
    $.ajax({
      type: 'POST',
      url: testNetSpeedUrl,
      data: {addr:addr},
      success: function (e) {
        console.log("success")
        console.log(e)
        // 完成传输
        console.log(e.data)
        var speed = JSON.parse(e.data).speed
        $("#testNetSpeed-label").text("传输速率："+speed +"MB/s")
        $("."+ipselecter).find(".trbtn").removeAttr("disabled");
      },
      error:function(e){
        console.log("err")
        console.log(e)
        layui.layer.msg("目标无应答，测试网速失败，请检查客户端连接",{time:3000})
        $("."+ipselecter).find(".trbtn").removeAttr("disabled");
      },
      dataType: "json"
    });


  }
  function ipSelect(ip) {
    var ipbonds = $.trim(ip).split(".")
    var classSelector = "";
    for (var i = 0; i < ipbonds.length; i++) {
      classSelector += ipbonds[i] + "\\."
    }
    var ipSelector = classSelector.substring(0, classSelector.length - 2)
    return ipSelector
  }
  function initSock() {
    var infoSock = new WebSocket(infoURI);
    infoSock.onmessage = function (e) {
      // console.log(e.data)
      if (e.data.indexOf("{") === -1){
        return
      }
      var data = JSON.parse(e.data);
      // console.log(e);
      if (data.hasOwnProperty("status")){
        var ipSelector = ipSelect(data.ip)
        var stat=data.status

        $("." + ipSelector).find("#ip").text(data.ip)
        var colorStat = $("." + ipSelector).find("#status")
        colorStat.text(data.status)
        data.status === "ONLINE" ? colorStat.prevObject.css({
          "color": "#009688"
        }) : (data.status === "LOSTRATEG1" || data.status === "HIGH_LATENCY") ? colorStat.prevObject.css({
          "color": "#FFB800",
        }) : colorStat.prevObject.css({
          "color": "red",
        })
        iconFlash(ipSelector)
      }

    }
  }
  function handleSeries(name){
    let frgb = 256
    let r = Math.round(Math.random() * 256, 0) // 保证数据颜色区分
    let g = Math.round(Math.random() * 256, 0)
    let b = Math.round(Math.random() * 256, 0)
    let serie = {
      name: name,
      type: 'line',
      smooth: false,
      symbol: 'circle',
      symbolSize: 5,
      showSymbol: false,
      lineStyle: {
        normal: {
          width: 1
        }
      },
      areaStyle: {
        normal: {
          color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
            offset: 0,
            color: 'rgba(' + r + ', ' + g + ', ' + b + ', 0.3)'
          }, {
            offset: 0.8,
            color: 'rgba(' + r + ', ' + g + ', ' + b + ', 0)'
          }], false),
          shadowColor: 'rgba(0, 0, 0, 0.1)',
          shadowBlur: 10
        }
      },
      itemStyle: {
        normal: {
          color: 'rgb(' + r + ', ' + g + ', ' + b + ')',
          borderColor: 'rgba(' + r + ', ' + g + ',2,0.27)',
          borderWidth: 12

        }
      },
      data: []
    }
    return serie
  }
  function generateOption(){
    var ops= {
      backgroundColor: '#394056',
      title: {
        top: 20,
        text: '网络抖动',
        textStyle: {
          fontWeight: 'normal',
          fontSize: 16,
          color: '#F1F1F3'
        },
        left: '1%'
      },
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          lineStyle: {
            color: '#57617B'
          }
        }
      },
      legend: {
        top: 60,
        icon: 'rect',
        itemWidth: 14,
        itemHeight: 8,
        itemGap: 13,
        data: ['CMCC', 'CTCC', 'CUCC'],
        right: '4%',
        textStyle: {
          fontSize: 12,
          color: '#F1F1F3'
        }
      },
      grid: {
        top: 150,
        left: '2%',
        right: '2%',
        bottom: '2%',
        containLabel: true
      },
      xAxis: [{
        type: 'category',
        boundaryGap: false,
        axisLine: {
          lineStyle: {
            color: '#57617B'
          }
        },
        axisLabel: {
          margin: 18,
          textStyle: {
            fontSize: 10,
            color: 'white'
          },
          show: true
        },
        axisLine: { // x轴 和name 颜色
          lineStyle: {
            color: 'white'
          }
        },
        data: ['13:00', '13:05', '13:10', '13:15', '13:20', '13:25', '13:30', '13:35', '13:40', '13:45',
          '13:50', '13:55'
        ]
      }],
      dataZoom:[{
        type:"inside"         //详细配置可见echarts官网
      }],
      yAxis: [{
        type: 'value',
        name: '毫秒',
        axisTick: {
          show: false
        },
        axisLine: { // y轴 和name 颜色
          lineStyle: {
            color: 'white'
          }
        },
        axisLabel: {
          margin: 10,
          textStyle: {
            fontSize: 14,
            color: 'white'
          }
        },
        splitLine: {
          lineStyle: {
            color: '#57617B'
          }
        }
      }],
      series: [{
        name: 'CMCC',
        type: 'line',
        smooth: false,
        symbol: 'circle',
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
          normal: {
            width: 1
          }
        },
        areaStyle: {
          normal: {
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
              offset: 0,
              color: 'rgba(137, 189, 27, 0.3)'
            }, {
              offset: 0.8,
              color: 'rgba(137, 189, 27, 0)'
            }], false),
            shadowColor: 'rgba(0, 0, 0, 0.1)',
            shadowBlur: 10
          }
        },
        itemStyle: {
          normal: {
            color: 'rgb(137,189,27)',
            borderColor: 'rgba(137,189,2,0.27)',
            borderWidth: 12

          }
        },
        data: [220, 182, 191, 134, 150, 120, 110, 125, 145, 122, 165, 122]
      }, {
        name: 'CTCC',
        type: 'line',
        smooth: true,
        symbol: 'circle',
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
          normal: {
            width: 1
          }
        },
        areaStyle: {
          normal: {
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
              offset: 0,
              color: 'rgba(0, 136, 212, 0.3)'
            }, {
              offset: 0.8,
              color: 'rgba(0, 136, 212, 0)'
            }], false),
            shadowColor: 'rgba(0, 0, 0, 0.1)',
            shadowBlur: 10
          }
        },
        itemStyle: {
          normal: {
            color: 'rgb(0,136,212)',
            borderColor: 'rgba(0,136,212,0.2)',
            borderWidth: 12

          }
        },
        data: [120, 110, 125, 145, 122, 165, 122, 220, 182, 191, 134, 150]
      }, {
        name: 'CUCC',
        type: 'line',
        smooth: true,
        symbol: 'circle',
        symbolSize: 5,
        showSymbol: false,
        lineStyle: {
          normal: {
            width: 1
          }
        },
        areaStyle: {
          normal: {
            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
              offset: 0,
              color: 'rgba(219, 50, 51, 0.3)'
            }, {
              offset: 0.8,
              color: 'rgba(219, 50, 51, 0)'
            }], false),
            shadowColor: 'rgba(0, 0, 0, 0.1)',
            shadowBlur: 10
          }
        },
        itemStyle: {
          normal: {
            color: 'rgb(219,50,51)',
            borderColor: 'rgba(219,50,51,0.2)',
            borderWidth: 12
          }
        },
        data: [220, 182, 125, 145, 122, 191, 134, 150, 120, 110, 165, 122]
      }]
    }
    return JSON.parse(JSON.stringify(ops))
  }
  initSock()
  if (fData.running){
    getPingTargetsInfo(null)
  }

  function iconFlash(ipSelector){
    $("." + ipSelector).find(".layui-icon").css({
      "color": "green"
    })
    setTimeout(function(){
      $("." + ipSelector).find(".layui-icon").css({
        "color": "white"
      })
    },1000)
  }


  function isValidIP(ip) {
    var reg = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
    return reg.test(ip);
  }


  function initForm(){

    form.render()
    // //自定义验证规则
    // form.verify({
    //   otherip: function(value){
    //     if(isValidIP(value)){
    //       return 'IP地址填写错误';
    //     }
    //   }
    // });
    //监听提交
    form.on('submit(formDemo)', function(data){


      form.render()
      // layer.msg(JSON.stringify(data.field));

      var field = Object.keys(data.field)
      var dt = []
      var isContainIp = false // 是否包含ip
      field.forEach(value => {
        if(value === "min" || value === "otherip"){
          return
        }
        if (isValidIP(value)){
          isContainIp = true
        }
        dt.push(value)
      })
      if(isValidIP(data.field.otherip)){
        isContainIp = true
        dt.push(data.field.otherip)
      }
      if(dt.length ===0 || !isContainIp){
        return layui.layer.msg("请选择ip或填写ip",{icon:2})
      }

      // if()
      $(".ipt").attr({"disabled":"true"})
      $(".ipt_btn").attr({"disabled":"true"})
      $(".ipt_btn").addClass("layui-btn-disabled")
      var datap ={
        min: parseInt(data.field.min),
        targets: dt
      }
      $.ajax({
        type: 'POST',
        url: pingStandaloneUrl,
        data: JSON.stringify(datap) ,
        success: function (e) {
          console.log("success")
          console.log(e)
          $("#timediv").toggle()
          caclLeftTimeSec(data.field.min)
          getPingTargetsInfo(dt)
        },
        error:function(e){
          console.log("err")
          console.log(e)
          layui.layer.msg(e.responseJSON.data,{icon:2})
        },
        dataType: "json"
      });

      console.log(datap)

      return false;
    });
  }
  initForm()
</script>

<style>
  .rev {
    /* width: 80px; */
  }

  .line {
    display: block;
  }

  table {
    border-collapse: collapse;
  }


  .invisible {
    display: none;
  }
  th{
    background-color: #3296FA;
    color: white;
  }
  .trbtn{
    width: 40px;
    height: 20px;
  }
  h3{
    margin: 5px;
  }
</style>

</html>
